.header {
  height: 2.25rem;
  background-color: rgb(217, 217, 217);

  &__logo {
    display: flex;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    justify-content: end;
  }
}
