.chat-page {
    background-color: rgb(217, 217, 217);
    padding: 20px;
    border-radius: 5px;
  
    .chat-page__loading {
      margin: 20px;
    }
  
    .chat-page__title {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }
  
    .chat-page__subtitle {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }
  
    .chat-page__question-container {
      margin-bottom: 20px;
    }
  
    .chat-page__question {
      font-size: 16px;
      color: #333;
    }
  
    .chat-page__code-container {
      margin-bottom: 20px;
    }
  
    .chat-page__code-editor {
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      font-family: monospace;
      font-size: 14px;
      height: 200px;
      width: 100%;
      color: #333;

      & pre {
        height: 11rem;
      }
    }
  
    .chat-page__result-container {
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
    }
  
    .chat-page__result-title {
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
  
      &--correct {
        color: green;
      }
  
      &--incorrect {
        color: red;
      }
    }
  
    .chat-page__output {
      font-family: monospace;
      white-space: pre-wrap;
      color: #333;
    }
  
    .chat-page__button-container {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
  
      & > button {
        margin-left: 10px;
      }
    }
  
    .chat-page__check-answer-button,
    .chat-page__next-button {
      background-color: #2196f3;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      border: none;
      cursor: pointer;
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
  
      &:focus {
        outline: none;
      }
    }
  }
  