body {
  background-color: rgb(217, 217, 217);
  background-image: url(../../assets//logo.png);
  background-repeat: no-repeat;
  margin-left: 3rem;
  margin-right: 3rem;
}

.home-page {
  &__quote {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 55px;
  }
  &__quote {
    margin-bottom: 5rem;
  }
}
